# Projekt 2

# Aufgabe 1)

In [1]:
import wbgapi as wb  # wbgapi ist eine API, mit der Daten von der World Bank abgerufen werden können.  
import pandas as pd

In [2]:
def worldbank_data(indicators, countries, years):
    """
    Ruft Daten von der World Bank API ab und gibt sie als DF zurück.

    Parameter:
    indicators : Zum Einlesen von Indikator-Codes, z. B. ["SP.POP.TOTL"] für Bevölkerungsdaten.
    countries : Einlesen von Ländercodes, z. B. ["DEU", "FRA"].
    years : Einlesen von Jahreszahlen, z. B. range(2015, 2021).

    Rückgabe:
    tuple: Ein Tupel bestehend aus:
    data : Der DF mit den abgefragten Daten.
    Aufrufe: Die Anzahl der API-Aufrufe.
    """
    Aufrufe = 0  # vor dem Aufruf der APi ist der Wert von Aufrufe = 0
    data = wb.data.DataFrame(indicators, economy=countries, time=years) # Aufruf der Parameter. 
    Aufrufe += 1 # Zählt den Counter Aufrufe + 1
    return data, Aufrufe

In [3]:
# a) 
indicators = ["SP.POP.TOTL"]
countries = ["DEU", "FRA",]
years = range(2015, 2021)  # 2021 weil die range diesen nicht mehr inkludiert. --> 2015 - 2020

DEU_FRA_POP, Aufrufe = worldbank_data(indicators, countries, years)  
# Aufruf der Funktion und übergabe von 3 Arumenten für die Parameter.
# + Speichern in zwei Rückgabewerten.  Das erste ist der DF. Das Zweite der API Aufruf Counter.

# Antwort Aufgabe 1) a) - Population für Deutschland und Frankreich von 2015 bis 2020.

In [4]:
 DEU_FRA_POP

,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,
DEU,81686611.0,82348669.0,82657002.0,82905782.0,83092962.0,83160871.0
FRA,66548272.0,66724104.0,66918020.0,67158348.0,67382061.0,67601110.0

# Antwort Aufgabe 1) c) - Anzahl der API Aufrufe für a).

In [5]:
print("API-Aufrufe: ", Aufrufe)

API-Aufrufe:  1

In [6]:
# b) Population, BIB und Lebenserwartung im Jahr 2012 für alle Länder. 
# Es ist das gleiche Vorgehen wie zuvor. 
indicators = ["SP.POP.TOTL", "NY.GDP.MKTP.CD", "SP.DYN.LE00.IN"] 
countries = ["all"]  
years = [2012]  

world_2012, Aufrufe = worldbank_data(indicators, countries, years)

# Antwort Aufgabe 1) b) - Shape ausgeben + die ersten 10 Reihen des DF

In [7]:
world_2012.shape # 3 columns und 266 Zeilen. --> economy ist keine Spalte! Wichtig für Aufgabe 2).

(266, 3)

In [8]:
# b)
world_2012.head(10)

         NY.GDP.MKTP.CD  SP.DYN.LE00.IN  SP.POP.TOTL
economy
ABW        2.615208e+09       74.841000     104110.0
AFE        9.529986e+11       60.249512  559609961.0
AFG        1.990733e+10       61.735000   30560034.0
AFW        7.399381e+11       55.292706  385360349.0
AGO        1.280529e+11       58.916000   25177394.0
ALB        1.231983e+10       78.084000    2900401.0
AND        3.188653e+09       84.334000      76834.0
ARB        2.795313e+12       69.842317  381030177.0
ARE        3.846101e+11       81.913000    7391448.0
ARG        5.459824e+11       75.802000   42161721.0

# Antwort Aufgabe 1) c) Anzahl der API Aufrufe für b). 
*Insgesammt sind es 2 Aufrufe! Einer für a) und einer für b)

In [9]:
print("API-Aufrufe", Aufrufe)

API-Aufrufe 1

# Bemerkung Aufgabe 1)
Die World Bank API liefert standardmäßig nur 50 Ergebnisse pro Anfrage. Das ist relevant, wenn man alles über den Link aufruft: https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json. Um mehr Daten zu erhalten, muss per_page=1000 genutzt werden.

--> wenn man aber die wbgapi-Bibliothek nutzt klappt das wohl automatisch.

# Aufgabe 2

In [10]:
medal_table = pd.read_csv("data/medal_table_2012.csv")

In [11]:
medal_table

    rank country_code                     country  gold  silver  bronze
0      1          USA               United States    46      28      30
1      2          CHN  People's Republic of China    38      31      22
2      3          GBR               Great Britain    29      17      19
3      4          RUS          Russian Federation    20      20      27
4      5          KOR           Republic of Korea    13       9       8
..   ...          ...                         ...   ...     ...     ...
80    81          KSA     Kingdom of Saudi Arabia     0       0       1
81    82          KUW                      Kuwait     0       0       1
82    83          MAR                     Morocco     0       0       1
83    84          TJK                  Tajikistan     0       0       1
84    85          VIE                     Vietnam     0       0       1

[85 rows x 6 columns]

DataFrames zusammenführen

In [12]:
world_2012.index

Index(['ABW', 'AFE', 'AFG', 'AFW', 'AGO', 'ALB', 'AND', 'ARB', 'ARE', 'ARG',
       ...
       'VIR', 'VNM', 'VUT', 'WLD', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype='object', name='economy', length=266)

In [13]:
# Vorbereitung

In [14]:
world_2012.index  # economy ist ein index und keine Spalte! und enthält die Ländercodes.

Index(['ABW', 'AFE', 'AFG', 'AFW', 'AGO', 'ALB', 'AND', 'ARB', 'ARE', 'ARG',
       ...
       'VIR', 'VNM', 'VUT', 'WLD', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype='object', name='economy', length=266)

In [15]:
df1 = world_2012.reset_index() 
# Lösung: Der Index economy wird durch reset_index() in eine neue Spalte bzw. auf Spalte 0 im DataFrame verschoben.

In [16]:
df1 = df1.rename(columns={
    "economy": "country_code",
    "NY.GDP.MKTP.CD": "BIP",
    "SP.DYN.LE00.IN": "Lebenserwartung",
    "SP.POP.TOTL": "Population"
})

# benennt die Spalte economy in country_code um, damit ich auf country_code mergen kann.
# Die anderen Spalten habe ich gleich mit umbenannt. Finde es so angenehmer.

In [17]:
df1

    country_code           BIP  Lebenserwartung   Population
0            ABW  2.615208e+09        74.841000     104110.0
1            AFE  9.529986e+11        60.249512  559609961.0
2            AFG  1.990733e+10        61.735000   30560034.0
3            AFW  7.399381e+11        55.292706  385360349.0
4            AGO  1.280529e+11        58.916000   25177394.0
..           ...           ...              ...          ...
261          XKX  6.163484e+09        75.750000    1807126.0
262          YEM  3.540133e+10        67.569000   28433647.0
263          ZAF  4.344005e+11        61.737000   53782567.0
264          ZMB  2.550306e+10        58.704000   14913629.0
265          ZWE  1.711485e+10        55.386000   13817887.0

[266 rows x 4 columns]

In [18]:
# Anpassen von Länderkürzeln, müssen wir zwar nicht, aber ich wolte Deutschland dabei haben und hab noch 2 weitere Länderkürzel rausgesucht.
medal_table.loc[5, "country_code"] = "DEU"
medal_table.loc[11, "country_code"] = "IRN"
medal_table.loc[18, "country_code"] = "ZAF"

# list(world_2012.columns) --> so konnte ich herausfinden welche Kürzel genutzt wurden.

In [19]:
# Mergen

In [20]:
df = pd.merge(medal_table,df1, on = "country_code", how= "inner") 
# inner merge, weil ich für die Aufgabe ja nur Länder nutzen kann, die sowohl Bevölkerungsdaten als auch Daten zu Gold haben.
# habe vorher aber einmal left gemacht, damit ich gucken konnte welche Länderkürzel nicht übereinstimmen.

In [21]:
pd.set_option("display.float_format", "{:.2f}".format) # so lässt es sich besser lesen. --> 2 nachkomma stellen für floats.

# Antwort Aufgabe 2) a) - Erstellen eines Datensatzes für die nächsten Aufgaben. 

* Das Hauptproblem lag in der Vorbereitung des DF world_2012, da man erkennen musste, dass es sich um einen Index handelt.
* Nach der Umbennung der Spalten konnte ich über die Spalte country_code mergen. --> wichtig war, dass die gleiche Schreibweise genutzt wurde

In [22]:
df.head(10)

,rank,country_code,country,gold,silver,bronze,BIP,Lebenserwartung,Population
0,1,USA,United States,46,28,30,16253970000000.00,78.74,313877662.00
1,2,CHN,People's Republic of China,38,31,22,8532185381680.59,76.20,1354190000.00
2,3,GBR,Great Britain,29,17,19,2707089726614.64,80.90,63700215.00
3,4,RUS,Russian Federation,20,20,27,2208293553878.42,70.07,143378447.00
4,5,KOR,Republic of Korea,13,9,8,1278046536287.01,80.82,50199853.00
5,6,DEU,Germany,11,20,13,3597896500945.31,80.54,80425823.00
6,7,FRA,France,11,11,13,2683007095787.23,81.97,65657659.00
7,8,AUS,Australia,8,15,12,1547532281116.40,82.05,22733465.00
8,9,ITA,Italy,8,9,11,2097929495121.68,82.24,59539717.00
9,10,HUN,Hungary,8,4,6,128814279315.13,75.06,9920362.00

In [23]:
# b)
# Spalte neu erstellen und in eine 10 M einheit umrechnen. 
df["population_10m"] = df["Population"] / 10000000

In [24]:
# Gold / Population rechnen und in einer Neuen Variable speichern. Nutzen von assign(), um neue Spalten zu einem DF hinzuzufügen.
df = df.assign(
    gold_per_10m = df["gold"] / df["population_10m"],
    silver_per_10m = df["silver"] / df["population_10m"],
    bronze_per_10m = df["bronze"] / df["population_10m"]
)

# Total berechnen, hatte ich in Part 1 auch so gemacht.
df["total_medals_per_10m"] = df["gold_per_10m"] + df["silver_per_10m"] + df["bronze_per_10m"]

In [25]:
# Sortieren nach den erfolgreichsten Ländern nach gold, silber, bronze und speichern in top10.
# -> ascending= False sortiert von Groß nach klein, ascending = True würde andersgherum sortieren. 
top10 = df.sort_values(by=["gold_per_10m", "silver_per_10m", "bronze_per_10m"], ascending=False)

In [26]:
# Speichert die relevanten Spalten für den neuen Datensatz in top10
top10 = top10[["country","country_code", "gold_per_10m", "silver_per_10m", "bronze_per_10m", "total_medals_per_10m"]]

# Antwort Aufgabe 2) b) - Alternativer medal Table nach Populationsgröße (10 millionen).

In [27]:
top10.head(10)

,country,country_code,gold_per_10m,silver_per_10m,bronze_per_10m,total_medals_per_10m
42,Bahrain,BRN,24.66,0.00,0.00,24.66
16,Jamaica,JAM,14.43,18.03,10.82,43.28
12,New Zealand,NZL,13.61,4.54,11.34,29.49
9,Hungary,HUN,8.06,4.03,6.05,18.14
39,Trinidad and Tobago,TTO,7.49,7.49,14.98,29.96
30,Lithuania,LTU,6.69,0.00,10.04,16.73
2,Great Britain,GBR,4.55,2.67,2.98,10.20
14,Cuba,CUB,4.42,2.65,6.19,13.27
29,Norway,NOR,3.99,1.99,1.99,7.97
17,Czech Republic,CZE,3.81,2.85,3.81,10.47

# Aufgabe 3

In [28]:
from sklearn.metrics import mean_squared_error 
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
df = df.dropna(subset=["Population", "Lebenserwartung", "BIP", "gold"])
# drope alle fehlenden Werte, wenn fehlende Werte existieren funktioniert die regression nicht.

In [30]:
# Aufteilen in eine abhängige Variable und in mehrere unabhängige Variablen.

X = df[["Population", "Lebenserwartung", "BIP"]]

y = df["gold"]

In [31]:
# Daten in Trainings- und Testset aufteilen

# train_test_split teilt die Daten in zwei Teile: Trainings- und Testset.
# X sind die erklärenden Variablen (BIP, Bevölkerung, Lebenserwartung)
# y ist die zu erklärende Variable (z. B. Anzahl der gewonnenen Goldmedaillen)

# test_size=0.2 bedeutet, dass 20% der Daten für das Testset verwendet werden. 
# Das habe ich so gemacht, weil wir das in der Vorlesung auch so gemacht haben.
# -->Es ist typisch, dass das Testset kleiner ist als das Trainigsset. Genug Daten zum lernen und genug ungesehene Daten zum bewerten.
# random_state=42 sorgt dafür, dass die Aufteilung reproduzierbar ist. Es wird also immer genau gleich aufgeteilt.  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
model = LinearRegression() # nimmt eine lineare Beziehung zwischen x und y an. 
model.fit(X_train, y_train) # Versucht eine Linie durch eine Punktewolke zu legen, sodass die Summe der squared errors minimiert wird.

LinearRegression()

In [33]:
# Das trainierte Modell soll verwendet werden, um die Goldmedaillen für die Länder im Testset vorherzusagen.
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred) 
# mean_squared_error misst den durchschnittlichen quadratischen Fehler zwischen den vorhergesagten und den tatsächlichen Werten.
# habe erstmal diesen berechnet, weil ich sonst immer den folgenden Fehler trotz import bekam: NameError: name "root_mean_squared_error" is not defined.
rmse = np.sqrt(mse) 
# habe daraus dann einfach den RMSE berechnet. Ist ja nur die Wurzel.

# Antwort Aufgabe 3) a) - Root mean sqaured error als Bewertungsfaktor der Linearen Regression

In [34]:
rmse

4.611152751335127

# Antwort Aufgabe 3) b) Diskutieren Sie Ihre Ergebnisse:
Wie beurteilen Sie die Leistung?
Was könnten mögliche Gründe für diese Leistung sein?
Wie könnte das Modell verbessert werden?


* Der RMSE hat einen Wert von 4.6111. Das bedeutet, dass die vorhergesagte Anzahl an Goldmedaillen pro Land um etwa 4,6 Medaillen vom tatsächlichen Wert abweicht. 

* Bewertung:

Für Länder mit vielen Medaillen ist das recht akzeptal und einigermaßen aussagekräftig. Für Länder mit wenigen Medaillen ist das sehr ungenau. 

* Gründe: 

Ich denke, dass es noch mehr Länder wie Jamaica gibt, die trotz geringer Bevölkerungszahl viele Medaillen abgesahnt haben. Auf der anderen Seite gibt es bestimmt auch Länder, die trotz ihrer hohen Bevölkerungszahl wenig Medaillen gewonnen haben. Die Beziehung ist also nicht wirklich linear. Das gleiche gilt auch für die Lebenserwartung und das  BIP_pro_Kopf. Damit Verbunden könnte es viele Ausreißerwerte geben, die für eine größere Streuung sorgen und den Test ungenauer machen. 

Verbesserungsvorschlag:

Ich Frage mich wie relevant und sinnvol die Populationsgröße, das BIP und die Lebenserwartung für die Vorhersage der Goldmedaillen eigentlich sind. Viel entscheidender könnte die Popularität Olympischer Sportarten je Land sein. 

1. Man könnte weitere Faktoren mit einbeziehen, wie z.B. eben die Popularität der Olympischen Sportarten oder die Anzahl der Athlet*innen pro Land oder die Anzahl der Olympiateilnahmen. Auch die neue Variable "Goldmedaillen pro Einwohner" ist interessant.

2. Nutzen von nicht linearen Regressionen.

# C)

In [35]:
netherlands = pd.DataFrame([{"Population": 16754962, "Lebenserwartung": 81.1048780487805, "BIP": 845689017065.625}])
# erstellen eines neuen DFs mit den Daten der Niederlande. 
# Ich habe die Daten der Niederlande unter dem kürzel NLD im world_2012 DF gefunden.

In [36]:
prediction = model.predict(netherlands)[0] 
# [0] gibt den Zahlenwert aus dem Array zurück. Dieser Enthält die Prediction der abhängigen Variable aufgrund der Merkmale.

In [37]:
prediction

3.684854877262245

# Antwort Aufgabe 3) c) - Prediction für die Niederlande 

Die Vorhersage liegt bei 4. Tatsächlich hat die

In [38]:
print("Goldmedaillen für die Niederlande 2012:", round(prediction))

Goldmedaillen für die Niederlande 2012: 4

# Bemerkung Aufgabe 3)

Ich habe mich stark an dem Code aus de Vorlesung orientiert. Ich hoffe, dass das OK war. Sie sagten: 
Just demonstrate that you are able to apply the steps we discussed in the course and correctly interpret
the results.